html
  head
    meta(charset='UTF-8')
    title and开发-贵阳Android-程序员客栈
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='baidu-site-verification' content='7IbkIN9Kwp')
    meta(http-equiv='Cache-Control' content='no-transform')
    meta(http-equiv='Cache-Control' content='no-siteapp')
    meta(name='keywords' content='贵阳,Android,自由工作')
    meta(name='description' content='北京鼎开互联科技有限公司高级安卓开发工程师11年6月&nbsp;普通二本计算机科学与技术专业毕业\
    10年大四实习就开始从事安卓技术开发。参与安卓二次开发，修改Rom。参与高仿ios的安卓手机项目。\
    11年加入盛大投资的公司，参与了盛大')
    meta(name='applicable-device' content='pc,mobile')
    link(rel='stylesheet' href='https://stacdn.proginn.com/css/index/swiper.min.css?_=4.42.5')
    link(rel='canonical' href='https://www.proginn.com/wo/15080')
    link(href='https://stacdn.proginn.com/favicon_new.ico' mce_href='https://stacdn.proginn.com/favicon.ico' rel='bookmark' type='image/x-icon')
    link(href='https://stacdn.proginn.com/favicon_new.ico' mce_href='https://stacdn.proginn.com/favicon.ico' rel='icon' type='image/x-icon')
    link(href='https://stacdn.proginn.com/favicon_new.ico' mce_href='https://stacdn.proginn.com/favicon.ico' rel='shortcut icon' type='image/x-icon')
    link(rel='stylesheet' href='https://stacdn.proginn.com/css_v2/inn.css?_=4.42.5')
    link(rel='stylesheet' href='https://stacdn.proginn.com/css/common/search.css?_=4.42.5')
    link(rel='stylesheet' href='https://stacdn.proginn.com/css_v2/page/wo.css?_=4.42.5')
    link(rel='stylesheet' href='https://stacdn.proginn.com/css/wo/development_web.css?_=4.42.5')
    link(rel='stylesheet' href='https://stacdn.proginn.com/css/public.css?_=4.42.5')
    script(src='//hm.baidu.com/hm.js?c92adf6182a39eb23c24cf43abc3f439')
    script#sozz(src='https://jspassport.ssl.qhimg.com/11.0.1.js?55fa6cbe5c37e2c56c796709736b9ed6')
    script(src='https://zz.bdstatic.com/linksubmit/push.js')
    base(href='https://www.proginn.com')
    link(rel='stylesheet' href='https://stacdn.proginn.com/css/common/extend-modal.css?version=4.42.5')
    script(type='text/javascript').
      var baseUrl = "/";
      var jishuinUrl = "https://jishuin.proginn.com";
      var env = "prod";
      var uid = "0";
      var sta_url = "https://stacdn.proginn.com";
      var cdn_version = "4.42.5";
      var kaifainUrl = 'https://www.kaifain.com';
      var home_page_type_="";
      var aliyuncategory="";
    link(rel='stylesheet' href='https://stacdn.proginn.com/css/layer.css')
    script(type='text/javascript' src='https://stacdn.proginn.com/js/index/swiper.min.js?version=4.42.5')
    script(type='text/javascript' src='https://stacdn.proginn.com/js/jquery.min.js')
    script(type='text/javascript' src='https://stacdn.proginn.com/js/layer.js')
    link#layui_layer_layercss(rel='stylesheet' href='https://stacdn.proginn.com/js/layer.css' style='')
  body
    script(src='https://stacdn.proginn.com/js/header.js?version=4.42.5')
    link(rel='stylesheet' href='https://stacdn.proginn.com/css/header/new.css?_=4.42.5')
    #top-menu.header.top-menu
      .menu-container.ui.inverted.menu.i_header
        a.item.logo(href='https://www.proginn.com/')
        a#firstpage.item.page(href='https://www.proginn.com/') 首页
        a.item.page(href='https://www.proginn.com/cat/') 程序员
        .item.dropDownArea(style='padding: 0px')
          .item-more.menu
            .item.item-more
              .ui.dropdown.left.top.pointing.dropdown-more(style='position: relative;' tabindex='0')
                div
                  span 解决方案
                  i.icon_bot
                .menu.more-content(tabindex='-1' style='display: none;')
                  .solution(tabindex='0')
                    .more-item.item.re-item
                      .s_title
                        img(src='https://stacdn.proginn.com/image/header/new/jiejuefangan2@2x.png' alt='')
                        span.cellRightName 招聘用人
                      a(href='https://www.proginn.com/b/cloud')
                        .cellRightName 云端工作
                        .cellRightDesc 自由工作、远程工作
                    .more-item.item.solution-item
                      .s_title
                        img(src='https://stacdn.proginn.com/image/header/new/jiejuefangan1@2x.png' alt='')
                        span.cellRightName 项目研发
                      a(href='https://www.proginn.com/b/p1980')
                        .cellRightName 需求梳理
                        .cellRightDesc 规划落地您的想法
                      a(href='https://www.proginn.com/b/outsource')
                        .cellRightName 整包开发
                        .cellRightDesc 一站式软件开发
                    .menu(tabindex='-1')
          // 服务
          .item-more.menu.re-menu
            .item.item-more
              .ui.dropdown.left.top.pointing.dropdown-more(style='position: relative; left:-7px;' tabindex='0')
                div
                  span 服务
                  i.icon_bot
                .menu.more-content(tabindex='-1' style='display: none;')
                  a.more-item.item.re-item(href='https://www.proginn.com/works/')
                    img(src='https://stacdn.proginn.com/image/header/new/fuwu1@2x.png' alt='')
                    div
                      .cellRightName 资源作品
                      .cellRightDesc 各种源码资源任您挑选
                  a.more-item.item.re-item(target='_blank' href='https://unisms.apistd.com/')
                    img(src='https://uni-cdn.oss-cn-hangzhou.aliyuncs.com/public/img/unisms-icon.png' alt='')
                    div
                      .cellRightName UniSMS
                      .cellRightDesc 全球聚合短信平台
          a.item.page(href='https://www.proginn.com/task/') 任务
          // 搜索
          .item.top-search(data-widget='top-search')
            .ui.transparent.icon.input(style='margin-left:0px')
              i.search.link.icon.search_i
              span.ma-line
              form(action='https://www.proginn.com/search?type=user' method='GET')
                input.ma-input(type='text' autocomplete='off' value='' name='keyword' placeholder='搜索您感兴趣的内容')
            .dropdownNew(style='display:none;')
              .searchAns
        .right.menu.right_prod
          .item.item-div(style='padding-right:0;padding-left:0;margin-left:0')
            .nav-button.nav-button-type1
              a(href='https://www.proginn.com/type/service') 发布需求
          .item.item-div(style='padding-right:0;padding-left:0;margin-left:0')
            .nav-button.nav-button-type2
              a(href='https://www.proginn.com/sign/new_v2') 开发者入驻
          a.item(href='https://www.proginn.com/index/app')
            | APP
          span.item.login
            a.ajax_login_btn(href='') 登录
            | /
            a(href='https://www.proginn.com/user/register') 注册
    script(type='text/javascript' src='https://stacdn.proginn.com/js/inn.js?_=4.42.5')
    .main
      .ui.grid.clearfix.inn-wo-index(style='padding:0;margin: 0')
        // <div class="four wide column side-profile">
        style.
          .new-badge {
          position: relative;
          }
          .new-badge:after {
          position: absolute;
          content: "new";
          width: 32px;
          height: 16px;
          line-height: 1;
          top: 2px;
          right: -24px;
          background: #f54f4f;
          border-radius: 5px;
          font-size: 12px;
          color: #fff;
          text-align: center;
          font-weight: 400;
          }
        #top_infos.app__f_r.app__bg_w.app__w_100p.app__h_328.app__pd_0
          // 头像
          .app__f_c.app__al_c.app__f_s_0.app__w_21_p.app__mt_32
            .avatar
              a.userPhoto.vip2(href='https://www.proginn.com/wo/15080')
                img.avator_img.app__img_130(src='https://inn.proginn.com/useralbum/15080/avatar150801636777999.jpg!mediumicon' alt='and开发')
            .online.app__mt_15.app__fc_999 10小时前在线
            span.ajax_login_btn.app__bg_e8f3ff.app__w_130.app__h_40.app_br_5.app__fc_308EFF.app__fs_14.app__f_r.app__al_c.app__jf_c.app__mt_45
              img.app__img_15(src='/Public/image/icons/lock.png')
              | 查看联系方式
          .app__f_c.app__pd_10.app__w_55_p
            .app__f_r.app__bd_b_eee.app__h_65.app__w_100p.app__al_c
              // 名字
              .app__fs_25
                a.header.app__f_1(href='https://www.proginn.com/wo/15080' style='color:#333') and开发
              img#Cert_f3(src='https://stacdn.proginn.com/image/common/F2@3x.png?time=1' style='margin-left: 3px;' width='34' height='20' alt='cert,f3')
              img.T_CHCEK(src='https://stacdn.proginn.com/image/common/T2@3x.png' style='margin-left: 3px;' width='34' height='20' alt='cert,f3')
            // 公司、职位、城市
            .app__f_r.app__fs_14.app__fw_bold.app__al_c.app__mt_15.app__h_20
              img.app__img_15.app__mr_5(src='/Public/image/icons/company.png')
              | 北京鼎开互联科技有限公司
              img.app__img_15.app__ml_35.app__mr_5(src='/Public/image/icons/duty.png')
              | 高级安卓开发工程师
              img.app__img_15.app__ml_35.app__mr_5(src='/Public/image/icons/location.png')
              | 重庆
            // 工资
            .work-price.app__f_r.app__al_c.app__fs_14.app__fc_308EFF.app__fw_600.app__h_20.app__mt_13.app__ps_r
              span
                | 全职 · 
                span.price 1000
                | /日
              |   ·  
              span.price 21750
              | /月
              span.app__ml_20
                span.price.app__fc_666.ajax_login_btn.app__cursor_point 信用正常
            .app__f_r.app__fs_14.app__al_c.app__mt_13
              span.app__fc_999
                | 工作时间: 
                span.app__fc_666 工作日12:00-22:00、周末8:00-22:00
              span.app__fs_14.app__fc_999.app__ml_30
                | 工作地点:
                span.app__fc_666
            // 服务企业、累计提交
            .app__f_r.app__fs_14.app__al_c.app__mt_13
              span.app__fc_999
                | 服务企业:
                span.app__fc_666 201家
              span.app__fs_14.app__fc_999.app__ml_20
                | 累计提交:
                span.app__fc_666 79工时
            // 联系方式
            .app__f_r.app__al_c.app__fs_14.app__mt_13
              span.app__fc_999.app__f_s_0 联系方式:
              .app__f_r.app__al_c.userinfo_item.app__mw_35_p.app__ml_15
                i.fa.fa-envelope-o.fa-lg(style='color:#989b9e;')
                span#contact_email.app__ml_10.app__h_20.app__lh_20(title='') ********
              .display_flex_row.flex_cross_center.userinfo_item.app__mw_30_p.app__ml_20
                img.img_small(src='/Public/image/wo/wechat-grey@3x.png')
                span#contact_weixin.app__ml_10(title='') ********
              .display_flex_row.flex_cross_center.userinfo_item.app__mw_30_p.app__ml_20
                img.img_small(src='/Public/image/wo/phone-grey@3x.png')
                span#contact_mobile.app__ml_10(title='') ********
            .contact-btn.app__f_r.app__al_c.app__mt_30
              span.ajax_login_btn(style='cursor: pointer;box-shadow: 0px 2px 6px 0px rgba(48,142,255,0.30);background: #308eff;border-radius: 6px;color: #ffffff;width: 115px;height: 38px;line-height: 38px;font-weight: 500; text-align: center;font-size: 14px;' title='立即预约') 立即预约
          .app__f_s_0.app__f_c.app__al_c.app__pd_10.app__w_24_p
            .app__f_r.app__jf_r.app__fs_13.app__fc_666.app__jf_c.app__h_60.app__al_c.app__as_end.app__mr_30
              a.ui.icon.blue.do_quanta_wo(collecttype='3' userid='15080' title='收藏')
                i.unhide.icon
                | 收藏
            .app__bd_a.qrCodeBox.app__f_c.app__al_c.app__jf_c.app__mt_5
              img.ui.rounded.image.app__img_136(src='/api/user/app_wo_qrcode?uid=15080')
              .app__f_r.app__jf_c.app__al_c.app__fs_14.app__mt_5
                a.app__ws_nw.app__fs_14(href='/index/app') 下载APP
                p.app__ws_nw.app__fs_14 扫码直接沟通
        #toptab.app__h_50.app__lh_50.app__bg_w.app__mt_10.app__pd_0
          .app__f_r.app__al_c.app__ps_r.app__fs_16(style='cursor: pointer')
            a#s_main.app__ml_50.app__ta_c.app__ps_r.app__fc_666(href='https://www.proginn.com/wo/15080' style='font-weight: 600;')
              | 个人主页
              #s_cursor_m.app__w_20.app__bg_308EFF.app__ps_a.cursor
            a#s_work.app__ml_60.app__ta_c.app__ps_r.app__fc_666(href='https://www.proginn.com/wo/15080/works' style='font-weight: 500;')
              | 项目作品
              #s_cursor_w.app__w_20.app__bg_308EFF.app__ps_a.cursor(style='display: none;')
            a#s_eva.app__ml_60.app__ta_c.app__ps_r.app__fc_666(href='https://www.proginn.com/wo/15080/reviews' style='display: block;')
              | 用户评价
              #s_cursor_e.app__w_20.app__bg_308EFF.app__ps_a.cursor(style='display: none;')
            a#s_jishuin.app__ml_60.app__ta_c.app__ps_r.app__fc_666.wo_jishunin(target='_blank' href='https://jishuin.proginn.com/u/15080') 技术圈
        link(rel='stylesheet' type='text/css' href='/Public/css/toastBoxWo.css?_=4.42.5')
        .toastBox(style='display: none;')
          .toastArea
            #toastContent.toastContent(style='transform: scale(1); transform-origin: center center;')
              .closeIcon
              // 实名认证
              .openGoToCredit(style='display: none')
                .title 查询技术信用
                .centerContent
                  .desc
                    | 温馨提示：在您与该程序员正式确立远程合作关系之前，查询了解他的远程技术信用，有效预防未知风险。
                .bottomButton
                  .left.jumpToDetail(data-uid='15080')
                    div 立即了解
                  .right.closeButton
                    div 下次再说
              // none_select.png selected.png question.png
              // 打开选择提现方式按钮
              .openChooseWithdrawType(style='display: none')
                .title 选择提现方式
                .centerContent
                  #alipayChoose.one
                    .icon.selected
                    .word 客栈余额提现至支付宝
                    .question(title='普通充值、退款、雇佣项目结算余额')
                      .iconQuestion(title='普通充值、退款、雇佣项目结算余额')
                  #idCardChoose.two
                    .icon
                    .word 其他余额提现至银行卡
                    .question(title='整包、云端项目等通过第三方代扣税余额')
                      .iconQuestion(title='整包、云端项目等通过第三方代扣税余额')
                .bottomButton
                  #jumpToDetailWithdraw.jumpToDetailWithdraw(data-uid='15080' data-id='1')
                    p 确定
              // 雇佣提示弹窗
              .openEmploryTips(style='display: none')
                .title 发布雇佣限制提醒
                .centerContent
                  #emptyWordDesc.desc
                    | 温馨提示：您每天最多有10次雇佣机会,开通企业会员,您每天最多有100次预约机会
                .bottomButton
                  .left.closeButton
                    div 我在想想
                  #jumpToCompanyVipBuy.right(data-uid='')
                    div 了解企业会员
                  #connectToKefu.right(data-uid='' style='display: none')
                    div 联系客服
              // 开通会员提示
              .openDevelopmentVipTips(style='display: none')
                .title 开通会员
                .centerContent
                  #pingVipTips.desc
                    | 温馨提示：成为开发者会员用户，每天最多可以ping5次，提高接单效率。
                .bottomButton
                  .left.closeButton
                    div 好的，知道了
                  #jumpToDevelopmentVipBuy.right(data-uid='')
                    div 立即了解
        script(type='text/javascript' src='/Public/js/wo/toastBox.js?_=4.42.5')
        script(type='text/javascript' src='/Public/js/wo/hireDeveloper.js?_=4.42.5')
        link(rel='stylesheet' href='https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css')
        style.
          .cursor {
          height: 2px;
          bottom: 0;
          margin: 0 auto;
          left: 0;
          right: 0
          }
          .qrCodeBox {
          width: 162px;
          height: 203px;
          }
          /* .ui.wide.popup {
          width: 300px !important;
          } */
        script.
          (initPage)();
          $(document).ready(function(){
          cnzz_data("个人主页","页面访问","wo");
          })
          function initPage() {
          let toptab_tag = $('#toptab_tag');
          toptab_tag.css("padding", 0)
          switch (toptab_tag.data('tag')) {
          case "work_detail":
          $('#toptab').remove();
          break;
          case "reviews":
          $('#s_cursor_m').hide();
          $('#s_cursor_w').hide();
          $('#s_cursor_e').show();
          $('#s_cursor_skill').hide();
          $('#s_cursor_consult').hide();
          $('#s_main').css("font-weight", 500);
          $('#s_work').css("font-weight", 500);
          $('#s_eva').css("font-weight", 600);
          break;
          case "works":
          $('#s_cursor_m').hide();
          $('#s_cursor_w').show();
          $('#s_cursor_e').hide();
          $('#s_cursor_skill').hide();
          $('#s_cursor_consult').hide();
          $('#s_main').css("font-weight", 500);
          $('#s_work').css("font-weight", 600);
          $('#s_eva').hide();
          setEva();
          break;
          case "skill":
          $('#s_cursor_m').hide();
          $('#s_cursor_w').hide();
          $('#s_cursor_e').hide();
          $('#s_cursor_skill').show();
          $('#s_cursor_consult').hide();
          $('#s_main').css("font-weight", 500);
          $('#s_skill').show().css("font-weight", 600);
          $('#s_eva').hide();
          break;
          default:
          $('#s_cursor_m').show();
          $('#s_cursor_w').hide();
          $('#s_cursor_e').hide();
          $('#s_cursor_skill').hide();
          $('#s_cursor_consult').hide();
          $('#s_main').css("font-weight", 600);
          $('#s_work').css("font-weight", 500);
          $('#s_eva').hide();
          setEva();
          break;
          }
          }
          function setEva() {
          try {
          let ratingsCount = "8";
          if (ratingsCount && ratingsCount > 0)
          $('#s_eva').show();
          } catch (e) {
          $('#s_eva').hide();
          }
          }
          $("#credit_tips").on("mouseenter", () => {
          $("#hover").show();
          })
          $("#credit_tips").on("mouseleave", () => {
          $("#hover").hide();
          })
          $('.T_CHCEK').popup({
          // inline: true,
          on: 'hover',
          exclusive: true,
          hoverable: true,
          position: 'right center',
          html: "<a style='height: 16px; line-height: 16px; font-size: 13px; color: #666;' onclick='cnzz_data(\\"技术等级\",\"我的页面-L\")'  href='/frontend/skill_cert/profile'>技术等级</a>",
          // variation: 'wide'
          })
          $('#Cert_f3').popup({
          // inline: true,
          on: 'hover',
          exclusive: true,
          hoverable: true,
          position: 'right center',
          html: "<a style='height: 16px; line-height: 16px; font-size: 13px; color: #666;' onclick='cnzz_data(\\"服务等级\",\"专家级开发者-F\")'  data-label='' href='/cert/type/21'>专家级开发者</a>",
          // variation: 'wide'
          })
          $('#Cert_f2').popup({
          // inline: true,
          on: 'hover',
          exclusive: true,
          hoverable: true,
          position: 'right center',
          html: "<a style='height: 16px; line-height: 16px; font-size: 13px; color: #666;' onclick='cnzz_data(\\"服务等级\",\"高级开发者-L\")'  data-label='' href='/cert/type/20'>高级开发者</a>",
          // variation: 'wide'
          })
        // </div>
        #J_WoMainContent.twelve.wide.column.app__mt_10(data-isme='0' data-uid='15080' style='margin-left: 0;border-left-width: 0px;width:100% !important;padding: 0')
          #maininfo
            // 履历
            .panel
              h3.header
                | 个人介绍
                a(href='http://support.proginn.com/outsource/coder-sign/' target='_blank')
                  i.help.icon.popup(data-position='bottom right' data-content='帮助')
              .overflowhidden.editor-style.content.personal_details.app__word_b_a
                | 11年6月 普通二本计算机科学与技术专业毕业
                br
                | 10年大四实习就开始从事安卓技术开发。参与安卓二次开发，修改Rom。参与高仿ios的安卓手机项目。
                br
                | 11年加入盛大投资的公司，参与了盛大手机的整个研发过程，独立开发锁屏和系统控件UI修改。
                br
                | 在之后加入鼎开互联，参与过应用市场、游戏中心、电商等项目的开发。内置到公司预装的手机里，日新增用户3-6万
                br
                | 一直从事安卓研发工作，参与了众多公司项目开发，以及个人开发小项目在play上发布,个人开发项目在play上已累计64万下载量。
                br
                | 能够进行安卓应用开发，以及安卓二次开发。
                br
                | 时间充足
            // 工作经历
            #J_Experiences.panel.proginn-work-history.display_block
              h3.header
                | 工作经历
              .history-list
                ul.J_Works
                  li
                    i.dot
                    p.title
                      span 2013-11-30 -2017-03-30
                      span 北京鼎开互联科技有限公司
                      span 高级安卓开发工程师
                    p.summary 安卓app开发和技术难点攻克
                  li
                    i.dot
                    p.title
                      span 2011-11-30 -2013-11-30
                      span 北京悠乐无限科技有限公司
                      span 安卓开发工程师
                    p.summary 手机ROM二次开发，主要负责app和framework的修改
                  li
                    i.dot
                    p.title
                      span 2010-09-13 -2011-11-13
                      span 北京京美鸿昌
                      span 安卓开发工程师
                    p.summary 手机ROM二次开发，主要负责app和framework的修改
            // 教育经历
            .panel.proginn-work-history.display_block
              h3.header
                | 教育经历
              .history-list
                ul.J_Works
                  li
                    i.dot
                    p.title
                      span 2007-09-01 - 2011-07-01
                      span 临沂大学
                      span 计算机科学与技术
                      span 本科
                      span.work-certify(data-content='教育经历已认证') 已认证
                    p.summary 省级优秀生
            // 技能
            .panel
              h3.header
                | 技能
              .content
                .skill-list.app__jf_sb.app__ds_f.app__f_w_w
                  .skill(style='width:45%;margin-right: 10px;')
                    .name 安卓二次开发
                    .progress
                      .level-4
                  .skill(style='width:45%;margin-right: 10px;')
                    .name Android
                    .progress
                      .level-5
                  .skill(style='width:45%;margin-right: 10px;')
                    .name Java
                    .progress
                      .level-5
                .app__f_r.app__jf_sb
                  div(style='width:45%')
                    .level-ruler.clearfix
                      .level-1
                      .level-2
                      .level-3
                      .level-4
                      .level-5
                    .level-label.clearfix
                      .level-0 0
                      .level-1 1
                      .level-2 2
                      .level-3 3
                      .level-4 4
                      .level-5 5
                  .app__ml_10(style='width:45%')
                    .level-ruler.clearfix
                      .level-1
                      .level-2
                      .level-3
                      .level-4
                      .level-5
                    .level-label.clearfix
                      .level-0 0
                      .level-1 1
                      .level-2 2
                      .level-3 3
                      .level-4 4
                      .level-5 5
            // 作品
            #id-wo-works
              .inn-wo-works.panel.id-wo-works.works-wrapper
                .works-title
                  .title-text 作品
                // 作品框
                .work_box(data-source='web')
                  #work_top_c.app__f_c
                    // 作品框
                    .work_box
                      #work_op_d_5389.app__f_r.app__al_c.app__pt_20.app__pb_20
                        // 封面图
                        .app__f_c.app_f_g_1.app__ps_r.app__mr_35.app__h_130.app__jf_sb.app__ml_30
                          // 作品名称
                          .app__fs_16.app__fw_bold.app__f_s_0.app__txt_ellipsis.app__ds_b.app__w_250
                            a.app__fc_666(href='https://www.proginn.com/w/5389' title='盛大手机') 盛大手机
                          // 作品描述
                          .innerCtn.app_f_g_1.app__mt_5
                            p.mui-ellipsis-3.app__fc_666.app__fs_14 12年上市的*项目，独立完成锁屏模块，以及系统控件和UI的开发和修改。
                          .app__f_r.info.app__al_c.app__f_1.app__f_s_0
                            // 点赞
                            .app__f_r.app__al_c
                              img.app__img_15(src='https://stacdn.proginn.com/image/icons/zan_1.png')
                              span.app__ml_10.app__fs_14.app__fc_999.app__fw_500 1
                            // 更新时间
                            #work-update-time.app__ml_20.app__pl_20.app_f_g_1.work_up_t
                              span.app__fs_14.app__fc_999 2017-11-13 15:33
                            // 下载人数、价格
                            // 修改，删除作品
                      #work_op_d_5390.app__f_r.app__al_c.app__pt_20.app__pb_20
                        // 封面图
                        .app__f_c.app_f_g_1.app__ps_r.app__mr_35.app__h_130.app__jf_sb.app__ml_30
                          // 作品名称
                          .app__fs_16.app__fw_bold.app__f_s_0.app__txt_ellipsis.app__ds_b.app__w_250
                            a.app__fc_666(href='https://www.proginn.com/w/5390' title='微发现') 微发现
                          // 作品描述
                          .innerCtn.app_f_g_1.app__mt_5
                            p.mui-ellipsis-3.app__fc_666.app__fs_14 12年上线的发现和分享信息App，完成微发现各个模块的开发
                          .app__f_r.info.app__al_c.app__f_1.app__f_s_0
                            // 点赞
                            .app__f_r.app__al_c
                              img.app__img_15(src='https://stacdn.proginn.com/image/icons/zan_1.png')
                              span.app__ml_10.app__fs_14.app__fc_999.app__fw_500 1
                            // 更新时间
                            #work-update-time.app__ml_20.app__pl_20.app_f_g_1.work_up_t
                              span.app__fs_14.app__fc_999 2015-12-27 11:21
                            // 下载人数、价格
                            // 修改，删除作品
                      #work_op_d_5391.app__f_r.app__al_c.app__pt_20.app__pb_20
                        // 封面图
                        .app__f_c.app_f_g_1.app__ps_r.app__mr_35.app__h_130.app__jf_sb.app__ml_30
                          // 作品名称
                          .app__fs_16.app__fw_bold.app__f_s_0.app__txt_ellipsis.app__ds_b.app__w_250
                            a.app__fc_666(href='https://www.proginn.com/w/5391' title='摇乐宝') 摇乐宝
                          // 作品描述
                          .innerCtn.app_f_g_1.app__mt_5
                            p.mui-ellipsis-3.app__fc_666.app__fs_14 专注四五线城市的App，完成各模块的研发工作
                          .app__f_r.info.app__al_c.app__f_1.app__f_s_0
                            // 点赞
                            .app__f_r.app__al_c
                              img.app__img_15(src='https://stacdn.proginn.com/image/icons/zan_1.png')
                              span.app__ml_10.app__fs_14.app__fc_999.app__fw_500 1
                            // 更新时间
                            #work-update-time.app__ml_20.app__pl_20.app_f_g_1.work_up_t
                              span.app__fs_14.app__fc_999 2017-11-13 15:33
                            // 下载人数、价格
                            // 修改，删除作品
                  #works_viewmore.works-more
                    a#works_a_viewmore(href='https://www.proginn.com/wo/15080/works')
                      | 查看更多
                      img.more-icon(src='/Public/image/common/more-arrow@2x.png' alt='more')
                  script.
                    // TODO: 价格为 0 时，为价格更新样式
                    let source = $(".work_box").data('source');
                    let showWorksMore = "1";
                    (initPage)();
                    function initPage() {
                    switch (source) {
                    case 'web'://主页
                    break;
                    case "works"://作品项目
                    //作品总数小于等于10时，不需要按钮
                    if (showWorksMore === "1") {
                    $("#work_top_c").addClass("work_maxheight");
                    }
                    break;
                    case "work_detail"://项目详情
                    break;
                    }
                    }
                    $('#works_a_viewmore').on('click', (e) => {
                    if (source == "works") {
                    e.preventDefault();
                    $("#work_top_c").removeClass("work_maxheight");
                    $('#works_viewmore').remove();
                    }
                    });
                    let isDeleting = false;
                    function deleteWork(workid) {
                    if (isDeleting)
                    return;
                    isDeleting = true;
                    updateTrashcan(isDeleting, workid);
                    $.ajax({
                    type: "POST",
                    url: "/api/user_works/delete",
                    data: {id: workid},
                    dataType: "json",
                    success: function (msg) {
                    if (msg.status == 1) {
                    $('#work_op_d_' + workid).remove();
                    // worksCount = worksCount > 1 ? worksCount - 1 : 0;
                    initPage();
                    } else {
                    alert(msg.info);
                    }
                    isDeleting = false;
                    updateTrashcan(isDeleting, workid);
                    }
                    });
                    }
                    function updateTrashcan(isLoading, workid) {
                    let trashcan = $("#trashcan_" + workid);
                    trashcan.attr("src", isLoading ? "https://stacdn.proginn.com/image/common/loading_2.gif" : "https://stacdn.proginn.com/image/icons/trashcan.png");
                    }
                  style.
                    .web_maxheight {
                    max-height: 513px;
                    overflow: hidden;
                    }
                    .work_maxheight {
                    max-height: 1700px;
                    overflow: hidden;
                    }
                    .work_box a:hover {
                    color: #666666;
                    }
                    .works-more {
                    width: auto;
                    height: 20px;
                    margin: 15px auto 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    font-family: PingFangSC, PingFangSC-Semibold;
                    font-weight: 600;
                    color: #308eff;
                    }
                    .works-more .more-icon {
                    margin-left: 3px;
                    width: 11px;
                    height: 11px;
                    }
                    .work_box .price-wrapper {
                    height: 15px;
                    overflow: visible;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-left: 20px;
                    padding-left: 20px;
                    border-left: 1px solid #d9d9d9;
                    }
                    .work_box .price-wrapper-self {
                    justify-content: flex-start;
                    }
                    .work_box .price-wrapper .download-num {
                    font-size: 14px;
                    font-family: PingFangSC, PingFangSC-Regular;
                    font-weight: 400;
                    color: #999999;
                    }
                    .work_box .price-wrapper .price-text {
                    line-height: 20px;
                    font-size: 16px;
                    font-family: DINAlternate, DINAlternate-Bold;
                    font-weight: 700;
                    color: #ff6600;
                    }
                    .work_box .price-wrapper-self .price-text {
                    margin-left: 20px;
                    }
            // 评论
            #proginn_wo_omment
              .panel.proginn-wo-comment.display_flex_column
                h3.header
                  // 用户评价
                  .rating_c
                    | 8                                    人评论
                  |                                 用户评价
                .content
                  #J_CommetList.ui.comments(style='max-width: 100% !important;')
                    .comment
                      a.avatar(href='https://www.proginn.com/u/771952')
                        img(src='https://stacdn.proginn.com/image/usericon/2.png' alt='用户771952')
                      .content
                        a.author(href='https://www.proginn.com/u/771952') proginn1604047700
                        .metadata(style='float:right;')
                          .date(style='display: block;margin-bottom: 9px;') 2022-08-16 15:28:39
                          .rating
                            i.star.yellow.icon
                            i.star.yellow.icon
                            i.star.yellow.icon
                            i.star.yellow.icon
                            i.star.yellow.icon
                        .text 辅助功能开发，有门槛
                    .comment
                      a.avatar(href='https://www.proginn.com/u/452816')
                        img(src='https://stacdn.proginn.com/image/usericon/6.png' alt='用户452816')
                      .content
                        a.author(href='https://www.proginn.com/u/452816') 大海航行靠舵手
                        .metadata(style='float:right;')
                          .date(style='display: block;margin-bottom: 9px;') 2021-05-19 01:48:29
                          .rating
                            i.star.yellow.icon
                            i.star.yellow.icon
                            i.star.yellow.icon
                            i.star.yellow.icon
                            i.star.yellow.icon
                        .text 好
                    .comment
                      a.avatar(href='https://www.proginn.com/u/452816')
                        img(src='https://stacdn.proginn.com/image/usericon/6.png' alt='用户452816')
                      .content
                        a.author(href='https://www.proginn.com/u/452816') 大海航行靠舵手
                        .metadata(style='float:right;')
                          .date(style='display: block;margin-bottom: 9px;') 2021-04-22 14:55:37
                          .rating
                            i.star.yellow.icon
                            i.star.yellow.icon
                            i.star.yellow.icon
                            i.star.yellow.icon
                            i.star.yellow.icon
                        .text 嗯
                    .comment
                      a.avatar(href='https://www.proginn.com/u/197229')
                        img(src='https://stacdn.proginn.com/image/usericon/9.png' alt='用户197229')
                      .content
                        a.author(href='https://www.proginn.com/u/197229') chuqing
                        .metadata(style='float:right;')
                          .date(style='display: block;margin-bottom: 9px;') 2018-09-27 08:54:41
                          .rating
                            i.star.yellow.icon
                            i.star.yellow.icon
                            i.star.yellow.icon
                            i.star.yellow.icon
                            i.star.yellow.icon
                        .text 开发者比较优秀。
                    .comment
                      a.avatar(href='https://www.proginn.com/u/137326')
                        img(src='https://stacdn.proginn.com/image/usericon/6.png' alt='用户137326')
                      .content
                        a.author(href='https://www.proginn.com/u/137326') HUK
                        .metadata(style='float:right;')
                          .date(style='display: block;margin-bottom: 9px;') 2018-05-02 22:06:51
                          .rating
                            i.star.yellow.icon
                            i.star.yellow.icon
                            i.star.yellow.icon
                            i.star.yellow.icon
                        .text 总体还可以
                  a.J_MoreComments(href='https://www.proginn.com/wo/15080/reviews' data-uid='15080') 更多评论
            // 相似推荐
            .panel.inn-wo-recommendUsers
              h3.header
                | 相似推荐
                a.switch.J_SwicthUsers(href='javascript:;') 换一批
              .list
                ul
            // meta和分享
            div(style='position: absolute; right: 20px; top: 3px;font-size: 12px; color: #2b303c;')
              .ui.icon.compact.button(style='background-color: rgb(255, 255, 255); font-weight: normal;')
                | 更新于: 2018-11-07                            浏览: 7223
          #container
    script#J_CommentTmpl(type='text/tmpl').
      <div class="comment"><a class="avatar" href="/u/<%this.from_uid%>"><img src="<%this.icon_url%>" alt="用户<%this.from_uid%>"></a><div class="content"><a href="/u/<%this.from_uid%>" class="author"><%this.nickname%></a><div class="metadata" style="float:right;"><div class="date" style="display: block;margin-bottom: 9px;"><%this.create_time%></div><div class="rating"><%for(var i=0;i<this.rating;i++){%><i class="star yellow icon"></i><%}%></div></div><div class="text"><%this.content%></div></div></div>
    // 技能服务
    script#J_SkillTmpl(type='text/tmpl').
      <a  class="skill-item" href="/s/<%this.sale_id%>"><img class="cover" src="<%this.coverImage%>" alt="skillCover,cover"><div class="owner-wrapper"><img class="avatar" src="<%this.user.icon_url%>" alt="avatar"><div class="nickname"><%this.user.nickname%></div></div><div class="title"><%this.title%></div><div class="price-wrapper"><div class="price-text">￥<%this.price%></div><div class="buy-num">已购买次数(<%this.buy_num%>)</div></div></a>
    // 咨询服务
    script#J_ConsultTmpl(type='text/tmpl').
      <a class="consult-item" href="/c/<%this.user.uid%>"><img class="cover" src="<%this.coverImage%>" alt="consultCover,cover"><div class="owner-wrapper"><img class="avatar" src="<%this.user.icon_url%>" alt="avatar"><div class="nickname"><%this.user.nickname%></div></div><div class="title"><%this.title%></div><div class="price-wrapper"><div class="price-text">￥<%this.price%></div><div class="buy-num">已购买次数(<%this.buy_num%>)</div></div></a>
    script#J_JiShuTmpl(type='text/tmpl').
      <div class="social-list"><h4><a href="https://jishuin.proginn.com/u/15080" target="_blank" rel="external nofollow" class="app__f_r app__al_c"><img class="app__img_xs app__mr_10 app__ml_5" src="https://stacdn.proginn.com/image/wo/jishuinIcon@2x.png" style="margin:0 10px 0 5px !important"/><span class="tip-span app__ml_5">技术圈</span></a></h4></div>
    script#J_GithubTmpl(type='text/tmpl').
      <div class="social-list"><h4><a href="<%this.href%>" target="_blank" rel="external nofollow"><i class="black large github icon link"></i><span class="tip-span">Github</span><span><%this.username ? this.username :""%></span></a></h4></div>
    // 掘金
    script#J_JuejinTmpl(type='text/tmpl').
      <div class="social-list"><h4><a href="<%this.href%>" target="_blank" rel="external nofollow"><img class="ui rounded image social-logo" src="/Public/image/common/juejin.png"
      alt="掘金"><span class="tip-span">掘金</span><span><%this.username ? this.githubuser :"" %></span></a></h4></div>
    // CSDN
    script#J_CsdnTmpl(type='text/tmpl').
      <div class="social-list"><h4><a href="<%this.href%>" target="_blank" rel="external nofollow"><img class="ui rounded image social-logo" src="/Public/image/common/csdn.png"
      alt="CSDN"><span class="tip-span">CSDN</span><span><%this.username?this.username:""%></span></a></h4></div>
    // 公众号
    script#J_WechatTmpl(type='text/tmpl').
      <div class="social-list"><h4><a href="javascript:void(0);" rel="external nofollow"><img class="ui rounded image social-logo" src="/Public/image/common/wechat.png" alt="公众号"><span class="tip-span">公众号</span><span><%this.username?this.username:"" %></span></a></h4></div>
    // dribbble
    script#J_DribbbleTmpl(type='text/tmpl').
      <div class="social-list"><h4><a href="<%this.href%>" target="_blank" rel="external nofollow"><img class="ui rounded image social-logo" src="/Public/image/common/dribbble.png"/><span class="tip-span">Dribbble</span><span><%this.username ? this.username : "" %></span></a></h4></div>
    // gitee
    script#J_GiteeTmpl(type='text/tmpl').
      <div class="social-list"><h4><a href="<%this.href%>" target="_blank" rel="external nofollow"><img class="ui rounded image social-logo"
      src="/Public/image/common/gitee.png"><span class="tip-span">Gitee</span><span><%this.username ? this.username : "" %></span></a></h4></div>
    // rss
    script#J_RssTmpl(type='text/tmpl').
      <div class="social-list"><h4><a href="<%this.href%>" target="_blank" rel="external nofollow"><img class="ui rounded image social-logo"
      src="/Public/image/common/rss.png"><span class="tip-span">RSS订阅</span><span><%this.username ? this.username : "" %></span></a></h4></div>
    // zcool
    script#J_ZCoolTmpl(type='text/tmpl').
      <div class="social-list"><h4><a href="<%this.href%>" target="_blank" rel="external nofollow"><img class="ui rounded image social-logo"
      src="/Public/image/common/zcool.png"><span class="tip-span">ZCOOL</span><span><%this.username ? this.username : "" %></span></a></h4></div>
    .friend-links
      .links
        a.logo(href='/')
          img(src='https://stacdn.proginn.com/image/common/logo_new.png')
        .container
          h5 重点城市程序员兼职推荐
          .item
            .list
              a(href='https://www.proginn.com/cat/beijing/' target='_blank' title='北京程序员兼职') 北京程序员兼职
              a(href='https://www.proginn.com/cat/shanghai/' target='_blank' title='上海程序员兼职') 上海程序员兼职
              a(href='https://www.proginn.com/cat/shenzhen/' target='_blank' title='深圳程序员兼职') 深圳程序员兼职
              a(href='https://www.proginn.com/cat/hangzhou/' target='_blank' title='杭州程序员兼职') 杭州程序员兼职
              a(href='https://www.proginn.com/cat/guangzhou/' target='_blank' title='广州程序员兼职') 广州程序员兼职
              a(href='https://www.proginn.com/cat/chengdu/' target='_blank' title='成都程序员兼职') 成都程序员兼职
              a(href='https://www.proginn.com/cat/nanjing/' target='_blank' title='南京程序员兼职') 南京程序员兼职
              a(href='https://www.proginn.com/cat/wuhan/' target='_blank' title='武汉程序员兼职') 武汉程序员兼职
              a(href='https://www.proginn.com/cat/xian/' target='_blank' title='西安程序员兼职') 西安程序员兼职
              a(href='https://www.proginn.com/cat/chongqing/' target='_blank' title='重庆程序员兼职') 重庆程序员兼职
              a(href='https://www.proginn.com/cat/zhengzhou/' target='_blank' title='郑州程序员兼职') 郑州程序员兼职
              a(href='https://www.proginn.com/cat/changsha/' target='_blank' title='长沙程序员兼职') 长沙程序员兼职
              a(href='https://www.proginn.com/cat/suzhou/' target='_blank' title='苏州程序员兼职') 苏州程序员兼职
              a(href='https://www.proginn.com/cat/hefei/' target='_blank' title='合肥程序员兼职') 合肥程序员兼职
              a(href='https://www.proginn.com/cat/xiamen/' target='_blank' title='厦门程序员兼职') 厦门程序员兼职
              a(href='https://www.proginn.com/cat/jinan/' target='_blank' title='济南 程序员兼职') 济南 程序员兼职
              a(href='https://www.proginn.com/cat/qingdao/' target='_blank' title='青岛程序员兼职') 青岛程序员兼职
              a(href='https://www.proginn.com/cat/tianjin/' target='_blank' title='天津程序员兼职') 天津程序员兼职
              a(href='https://www.proginn.com/cat/dalian/' target='_blank' title='大连程序员兼职') 大连程序员兼职
              a(href='https://www.proginn.com/cat/fuzhou/' target='_blank' title='福州程序员兼职') 福州程序员兼职
              a(href='https://www.proginn.com/cat/shijiazhuang/' target='_blank' title='石家庄程序员兼职') 石家庄程序员兼职
              a(href='https://www.proginn.com/cat/shenyang/' target='_blank' title='沈阳程序员兼职') 沈阳程序员兼职
              a(href='https://www.proginn.com/cat/taiyuan/' target='_blank' title='太原程序员兼职') 太原程序员兼职
              a(href='https://www.proginn.com/cat/wuxi/' target='_blank' title='无锡程序员兼职') 无锡程序员兼职
              a(href='https://www.proginn.com/cat/nanchang/' target='_blank' title='南昌程序员兼职') 南昌程序员兼职
              a(href='https://www.proginn.com/cat/haerbin/' target='_blank' title='哈尔滨程序员兼职') 哈尔滨程序员兼职
              a(href='https://www.proginn.com/cat/nanning/' target='_blank' title='南宁程序员兼职') 南宁程序员兼职
              a(href='https://www.proginn.com/cat/zhuhai/' target='_blank' title='珠海程序员兼职') 珠海程序员兼职
              a(href='https://www.proginn.com/cat/ningbo/' target='_blank' title='宁波程序员兼职') 宁波程序员兼职
              a(href='https://www.proginn.com/cat/kunming/' target='_blank' title='昆明程序员兼职') 昆明程序员兼职
              a(href='https://www.proginn.com/cat/dongguan/' target='_blank' title='东莞程序员兼职') 东莞程序员兼职
              a(href='https://www.proginn.com/cat/guiyang/' target='_blank' title='贵阳程序员兼职') 贵阳程序员兼职
              a(href='https://www.proginn.com/cat/america/' target='_blank' title='美国程序员兼职') 美国程序员兼职
              a(href='https://www.proginn.com/cat/changchun/' target='_blank' title='长春程序员兼职') 长春程序员兼职
              a(href='https://www.proginn.com/cat/wenzhou/' target='_blank' title='温州程序员兼职') 温州程序员兼职
              a(href='https://www.proginn.com/cat/foshan/' target='_blank' title='佛山程序员兼职') 佛山程序员兼职
              a(href='https://www.proginn.com/cat/changzhou/' target='_blank' title='常州程序员兼职') 常州程序员兼职
              a(href='https://www.proginn.com/cat/huhehaote/' target='_blank' title='呼和浩特程序员兼职') 呼和浩特程序员兼职
              a(href='https://www.proginn.com/cat/lanzhou/' target='_blank' title='兰州程序员兼职') 兰州程序员兼职
              a(href='https://www.proginn.com/cat/wulumuqi/' target='_blank' title='乌鲁木齐程序员兼职') 乌鲁木齐程序员兼职
              a(href='https://www.proginn.com/cat/zhongshan/' target='_blank' title='中山程序员兼职') 中山程序员兼职
              a(href='https://www.proginn.com/cat/haikou/' target='_blank' title='海口程序员兼职') 海口程序员兼职
              a(href='https://www.proginn.com/cat/luoyang/' target='_blank' title='洛阳程序员兼职') 洛阳程序员兼职
            span.more 更多
        .container
          h5 重点岗位程序员兼职推荐
          .item
            .list
              a(href='https://www.proginn.com/cat/creator/' target='_blank' title='技术创始人兼职') 技术创始人兼职
              a(href='https://www.proginn.com/cat/rust/' target='_blank' title='Rust兼职') Rust兼职
              a(href='https://www.proginn.com/cat/xiaochengxu1/' target='_blank' title='小程序兼职') 小程序兼职
              a(href='https://www.proginn.com/cat/cocos2dx/' target='_blank' title='cocos2d-x兼职') cocos2d-x兼职
              a(href='https://www.proginn.com/cat/unity3d/' target='_blank' title='Unity3D兼职') Unity3D兼职
              a(href='https://www.proginn.com/cat/ddba/' target='_blank' title='DBA兼职') DBA兼职
              a(href='https://www.proginn.com/cat/ywgcs/' target='_blank' title='运维兼职') 运维兼职
              a(href='https://www.proginn.com/cat/csgcs/' target='_blank' title='测试兼职') 测试兼职
              a(href='https://www.proginn.com/cat/ydqt/' target='_blank' title='移动其他兼职') 移动其他兼职
              a(href='https://www.proginn.com/cat/go/' target='_blank' title='Go兼职') Go兼职
              a(href='https://www.proginn.com/cat/ue/' target='_blank' title='UE设计师兼职') UE设计师兼职
              a(href='https://www.proginn.com/cat/fullstack/' target='_blank' title='全栈兼职') 全栈兼职
              a(href='https://www.proginn.com/cat/java/' target='_blank' title='Java兼职') Java兼职
              a(href='https://www.proginn.com/cat/cto/' target='_blank' title='CTO兼职') CTO兼职
              a(href='https://www.proginn.com/cat/ruby/' target='_blank' title='Ruby兼职') Ruby兼职
              a(href='https://www.proginn.com/cat/cpp/' target='_blank' title='C++兼职') C++兼职
              a(href='https://www.proginn.com/cat/php/' target='_blank' title='PHP兼职') PHP兼职
              a(href='https://www.proginn.com/cat/c/' target='_blank' title='C兼职') C兼职
              a(href='https://www.proginn.com/cat/csharp/' target='_blank' title='C#兼职') C#兼职
              a(href='https://www.proginn.com/cat/python/' target='_blank' title='Python兼职') Python兼职
              a(href='https://www.proginn.com/cat/architect/' target='_blank' title='架构师兼职') 架构师兼职
              a(href='https://www.proginn.com/cat/nodejs/' target='_blank' title='Node.js兼职') Node.js兼职
              a(href='https://www.proginn.com/cat/android/' target='_blank' title='Android兼职') Android兼职
              a(href='https://www.proginn.com/cat/ios/' target='_blank' title='iOS兼职') iOS兼职
              a(href='https://www.proginn.com/cat/dqianduan/' target='_blank' title='前端兼职') 前端兼职
              a(href='https://www.proginn.com/cat/ui/' target='_blank' title='UI设计师兼职') UI设计师兼职
              a(href='https://www.proginn.com/cat/yhs/' target='_blank' title='原画师兼职') 原画师兼职
              a(href='https://www.proginn.com/cat/cpjl/' target='_blank' title='产品经理兼职') 产品经理兼职
              a(href='https://www.proginn.com/cat/xmjl/' target='_blank' title='项目经理兼职') 项目经理兼职
              a(href='https://www.proginn.com/cat/qukuailian/' target='_blank' title='区块链兼职') 区块链兼职
              a(href='https://www.proginn.com/cat/zhineng/' target='_blank' title='人工智能兼职') 人工智能兼职
              a(href='https://www.proginn.com/cat/yingjian/' target='_blank' title='硬件开发兼职') 硬件开发兼职
            span.more 更多
    #footer.ui.menu.secondary.footer
      .footer-container
        a.item(target='_blank' href='https://jishuin.proginn.com' rel='nofollow')
          | 技术圈
        a.item(href='https://www.proginn.com/index/app' rel='nofollow')
          | APP下载
        a.item(href='http://support.proginn.com/' rel='nofollow')
          | 帮助
        a.item(href='https://www.proginn.com/about' rel='nofollow')
          | 关于我们
        a.item(href='https://inn.proginn.com/sites/index.html')
          | 合作伙伴
        a.item(href='https://www.proginn.com/about/suggestion' rel='nofollow')
          | 意见反馈
        span.ui.item(style='color: rgb(204, 204, 204);')
          | © 程序员客栈
          a(href='https://www.proginn.com' title='远程工作') 远程工作
        div(style='float: right;')
          p
            a.ui.item.fr.icp(href='http://www.miibeian.gov.cn' target='_blank' rel='external nofollow noopener noreferrer') 浙ICP备15029175号
          p
            a.ui.item.fr.icp(target='_blank' style='margin-top: 0px; padding: 0px;' href='http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33011002011566' rel='nofollow')
              img(width='20' height='20' style='float: left;' src='https://stacdn.proginn.com/image/common/badge.png')
              span(style='\
              float: left;\
              height: 20px;\
              line-height: 20px;\
              margin: 0px 0px 0px 5px;\
              ') 浙公网安备 33011002011566号
    #footer_dimmer
      .ui.inverted.page.dimmer
        .content
          .center
            h3#customized_footer_dimmer_info.ui.icon.header
              i.green.checkmark.icon
            p(style='color: rgb(102, 102, 102);') 点击空白处退出提示
    script(type='text/javascript' src='https://stacdn.proginn.com/js/base.js?_=4.42.5')
    script(type='text/javascript' src='https://stacdn.proginn.com/js/inn/seajs-config.js?_=4.42.5')
    script.
      seajs.use("wo/wo.js");
    script(type='text/javascript').
      seajs.use(['wo/index', 'user/contrast'], function (wo) {
      wo.init();
      $('.star.rating').rating({
      maxRating: 5
      });
      $('.star.rating.disable').rating('disable');
      });
    script.
      (function () {
      var query = window.location.search.substring(1);
      if (query.indexOf('t=w') > -1) {
      $(document).ready(function () {
      let workTop = $('.id-wo-works').offset();
      $("html,body").animate({scrollTop: workTop.top - 100}, 500 /*scroll实现定位滚动*/); /*让整个页面可以滚动*/
      });
      }
      })()
    script.
      (function () {
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
      bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      } else {
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
      })();
    script.
      (function () {
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
      bp.src = "https://jspassport.ssl.qhimg.com/11.0.1.js?55fa6cbe5c37e2c56c796709736b9ed6";
      } else {
      bp.src = "http://js.passport.qihucdn.com/11.0.1.js?55fa6cbe5c37e2c56c796709736b9ed6"
      }
      bp.id = 'sozz';
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
      })();
    link(rel='stylesheet' type='text/css' href='https://stacdn.proginn.com/css/kf.css')
    // 在线客服
    #scrollsidebar.scrollsidebar
      .side_content
        .side_list
          .side_title
            a.close_btn(title='隐藏')
              span 关闭
          .side_center
            .other
              p 使用微信扫一扫
              p
                img(src='/Public/image/common/qykf.png' width='120')
              p 客户服务热线
              p 0571-28120931
          .side_bottom
      .show_btn
        span 在线客服
    script(type='text/javascript' src='https://stacdn.proginn.com/js/index/kefu.js')
    script(type='text/javascript').
      var env = "prod";
    script(type='text/javascript' src='https://stacdn.proginn.com/js/baiduStatistic/index.js?version=4.42.5')
    script(type='text/javascript' src='https://stacdn.proginn.com/js/public/cnzz_protocol.js?version=4.42.5')
    script(type='text/javascript' src='https://stacdn.proginn.com/js/public/cnzz_data.js?version=4.42.5.1')
    .inn-contrast(style='display: none;')
      .contrast-wrap.clearfix
        ul
          li
          li
          li
          li
        .actions
          span.a-btn.blue.J_ContrastItem 对比
          span.a-btn.J_ContrastClear 清空
        span.close.J_Close 收起
      .contrast-txt 对比栏
    style#stylish-style--1.stylish-style(data-style-id='-1' data-stylish='-1').
      body .main {
      padding-top: 20px;
      }
      body .title-box {
      position: fixed;
      z-index: 100;
      top: 65px;
      left: 50%;
      margin: 0px auto;
      margin-left: -550px;
      padding: 0;
      width: 100%;
      max-width: 1100px;
      height: 45px;
      background-color: transparent;
      }
      body .title-box::before {
      content: "";
      position: fixed;
      z-index: 99;
      top: 65px;
      left: 0;
      width: 100%;
      width: 100vw;
      height: 45px;
      background: white;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      }
      body .title-box .title-box-h1, body .title-box .result-count {
      position: relative;
      z-index: 100;
      }
      body .inn-user-filter {
      border-radius: 0 !important;
      }
      body .inn-user-filter .filter-box:last-child {
      margin-bottom: 0;
      }
      body .inn-user-filter .filter-box:last-child .filter-content {
      padding-bottom: 0;
      }
      body .inn-user-filter .filter-content {
      border-bottom: none;
      }
      body .inn-user-filter .filter-content .list a {
      border-radius: 6px;
      transition: 0.2s ease-in;
      padding: 5px 10px;
      margin-right: 5px;
      }
      body .inn-user-filter .filter-content .list a:hover {
      background-color: #dcefff;
      color: #2994f2;
      }
      body #widget-user-list.proginn-user-list .item {
      position: inherit;
      margin-bottom: 0;
      border-radius: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      transition: 0.2s ease-in;
      }
      body #widget-user-list.proginn-user-list .item:hover {
      transform: scale(1.01);
      box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.05);
      }
      body .proginn-user-list .user-info .info {
      font-weight: bold;
      }
      body .proginn-user-list .user-info .desc-item span {
      color: #848589;
      }
      body .proginn-user-list .user-info .desc-item a {
      color: #848589;
      }
      body .proginn-user-list .user-info .desc-item a:first-child {
      color: #848589;
      }
      body .proginn-user-list .user-info .desc-item a:hover {
      color: #2994f2 !important;
      text-decoration: underline;
      }
      body #widget-user-list .user-info .description .work-time {
      margin-top: 0;
      }
      body #widget-user-list .hire-info p {
      width: inherit;
      }
      body #widget-user-list .hire-info p.work-price {
      font-weight: bold;
      }
      body #widget-user-list .hire-info .hire-btn {
      margin: 0;
      box-shadow: none !important;
      transition: 0.2s ease-in;
      }
      body .crumbs-ctrl button {
      height: inherit;
      width: inherit;
      padding: 8px 13px;
      transition: 0.2s ease-in;
      }
      body .crumbs-ctrl button:hover {
      background-color: #2994f2 !important;
      color: white !important;
      }
